	<div class="tabbable">
  <ul class="nav nav-tabs">


    <% @rooms.each_with_index do |room, index|
      if index == 0 %>
        <li class="active"><a href="#pane<%=room.id%>" data-toggle="tab"><%= room.name %><%=room.status? ? '' : '(disabled)'%></a></li>
      <% else %>
        <li><a href='#pane<%=room.id%>' data-toggle="tab"><%=room.name%><%=room.status? ? '' : '(disabled)'%></a></li>
      <% end  %>
    <% end %>
    <!--
    <li><a href="#pane2" data-toggle="tab">Room 2</a></li>
    <li><a href="#pane3" data-toggle="tab">Room 3</a></li>
    <li><a href="#pane4" data-toggle="tab">Room 4</a></li>
  -->
  </ul>
  <div class="tab-content">
    <% @rooms.each_with_index do |room, index|
      if index == 0 %>
        <div id="pane<%=room.id%>" class="tab-pane active">
          <%= render :partial => 'rooms/roomtabs/roompartial', :locals => { :tab_id => room.id } %>
        </div>
      <% else %>
        <div id="pane<%=room.id%>" class="tab-pane">
          <%= render :partial => 'rooms/roomtabs/roompartial', :locals => { :tab_id => room.id } %>
        </div>
      <% end %>
    <% end %>
    
   
  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
