Listing of rooms goes here
<table class="table table-hover">
<th>S.no</th>
<th>Room name</th> 
<th>Description</th>
<th>Capacity</th>
<th>Status</th>
<th colspan="2">Actions</th>
	
	<% @rooms.each_with_index do |room, i| %>
  <tr>
  	<td><%= i+1 %></td>
    <td><%= room.name %></td>
    <td><%= room.description %></td>
    <td><%= room.capacity %></td>
    <td><% if room.status == true %>
    	Available for booking 
    	<% else %>
    	Not available 
    	<% end %>
    </td>
    <td><%= link_to 'Edit',  edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Associated bookings for will also be deleted?' } %></td>
  </tr>
  <% end %>
</table>