<%if @croom[tab_id].empty?%>
  This room is free <br /><br/>
<%else%>
<table class="table table-hover">
<th>S.no</th>
<% if current_user %>
	<th>Booked by</th>
	<th>Title</th>
	<th>Description</th>
<%end %>
<th>Start Time</th> 
<th>End Time</th>
<% if current_user %>
  <% if current_user.admin? %>
    <th colspan="2">Actions</th>
  <% end %>
<% end %>
	
	<% @croom[tab_id].each_with_index do |room, i| %>
  <tr>
  	<td><%= i+1 %></td>

    <% if current_user %>
    <td>
    	<%= current_user.name%>
    </td>
    <td>
    	<%= room.title%>
    </td>
     <td>
    	<%= room.description%>
    </td>
    <% end %>
   
    <td><% datetime1 = room.start_time %>
    	<%= datetime1.to_formatted_s(:short) %>
    </td>
    <td><% datetime2 = room.end_time %>
    	<%= datetime2.to_formatted_s(:short)%>
    </td>
    <% if current_user %>
      <% if current_user.admin? %>
        <td>
          <%= link_to 'Change', edit_booking_path(room) %>
          <%= link_to 'Cancel', room, method: :delete, data: { confirm: 'Really?' } %>
        </td>
      <% end %>
    <%end%>
  </tr>
  <% end %>
</table>
<%end%> 
  